footer
{
    color: white;
    background-color: $footer-color;
    padding: 20px 0px 40px 20px;

    a{
        color: white;
    }


    h5{
        padding-bottom: 10px;
        font-size: 1.3rem;
    }

    li{
        line-height: 30px;
    }

    i{
        padding-right: 7px;
    }

    .fa-xs{
        padding-right: 5px;
    }
}