.img-header-palette-du-gout{
    background-image: url("../../pictures/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
}

.img-header-le-delice-des-sens{
    background-image: url("../../pictures/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
}

.img-header-a-la-francaise{
    background-image: url("../../pictures/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
}

.img-header-note-enchantee{
    background-image: url("../../pictures/stil-u2Lp8tXIcjw-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
}