/* utils imports*/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* base imports*/
h1, h5, .nom-restaurant {
  font-family: Shrikhand;
}

section, ul {
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-bottom: 10px;
}

h4 {
  font-weight: bold;
}

.nom-restaurant {
  font-weight: 500;
}

.menu-restaurant h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

/*components imports*/
.btnstyle {
  border-radius: 100px;
  background: linear-gradient(to bottom, #e872da, #a55bdb);
  color: white;
  padding: 15px 25px;
  border-style: hidden;
  box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
}

.btnstyle-order {
  border-radius: 100px;
  background: linear-gradient(to bottom, #e872da, #a55bdb);
  color: white;
  padding: 15px 50px;
  border-style: hidden;
  box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
}

/*Layout imports*/
footer {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  background-color: #353535;
  padding: 20px 0px 40px 20px;
}
footer a {
  color: white;
}
footer h5 {
  padding-bottom: 10px;
  font-size: 1.3rem;
}
footer li {
  line-height: 30px;
}
footer i {
  padding-right: 7px;
}
footer .fa-xs {
  padding-right: 5px;
}

.menu-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.menu-header h1 {
  margin: 0 auto;
}
.menu-header .fa-lg {
  margin-top: 18px;
  color: #353535;
}

.accueil-header {
  padding: 10px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

.img-header-palette-du-gout {
  background-image: url("../../pictures/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.img-header-le-delice-des-sens {
  background-image: url("../../pictures/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.img-header-a-la-francaise {
  background-image: url("../../pictures/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.img-header-note-enchantee {
  background-image: url("../../pictures/stil-u2Lp8tXIcjw-unsplash.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

/*Pages imports*/
.location {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  height: 50px;
  padding-top: 15px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.247);
}
.location div {
  display: flex;
}
.location div i {
  margin-right: 10px;
}

.hat {
  padding: 30px 70px 30px 70px;
  background-color: #f6f6f6;
}
.hat h2 {
  padding-bottom: 10px;
  text-align: center;
}
.hat p {
  text-align: center;
  padding-bottom: 20px;
}
.hat button {
  display: block;
  margin: auto;
}

.restaurants {
  background-color: #f6f6f6;
  margin-bottom: 0;
  padding-bottom: 60px;
  padding-top: 40px;
}

ol {
  list-style: none;
  counter-reset: item;
}
ol li:after {
  background: #9356DC;
  content: counter(item);
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  font-size: 12px;
  color: white;
  line-height: 20px;
}
ol li {
  width: 80%;
  height: 65px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 30px auto;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
  text-align: center;
  padding-top: 25px;
  font-weight: 500;
  counter-increment: item;
  position: relative;
  transition: all 0.4s;
}
ol li:hover {
  cursor: pointer;
  background: #e4d5f6;
}
ol li:hover .purple-icon {
  color: #9356DC;
}
ol li i {
  padding-right: 40px;
  color: #7e7e7e;
}
ol li .fa-lg {
  padding-left: 10px;
}

.resultcard {
  background-color: white;
  border-radius: 10px;
  padding: 0px 0px 5px 0px;
  margin-bottom: 30px;
  width: 90%;
  height: 250px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
  margin: 15px auto;
}
.resultcard .imgresult {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 175px;
}
.resultcard .imgresult img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.resultcard figcaption {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.resultcard figcaption h4 {
  padding-bottom: 3px;
}
.resultcard figcaption .heart {
  font-size: 1.4rem;
}
.resultcard figcaption .heart .fa-stack-1x {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 500ms linear;
  background: linear-gradient(to bottom, #e872da, #a55bdb);
  -webkit-background-clip: text;
  color: transparent;
}
.resultcard figcaption .heart .fa-stack-2x {
  font-size: 1.4rem;
  -webkit-text-stroke: 1px white;
  margin-top: 11px;
}
.resultcard figcaption .heart:hover .fa-stack-1x {
  visibility: visible;
  opacity: 1;
}

@media all and (min-width: 950px) {
  #blocpage {
    max-width: 1400px;
    margin: 0 auto;
  }

  ol {
    display: flex;
  }
  ol li {
    max-width: 300px;
  }

  .restaurants .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .resultcard {
    max-width: 350px;
    height: 240px;
  }
}
.menu-restaurant {
  margin-top: -20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  padding-top: 25px;
}
.menu-restaurant h5 {
  font-weight: bold;
}
.menu-restaurant li .left-section {
  display: flex;
  flex-direction: column;
}
.menu-restaurant .menu-restaurant {
  padding-left: 10px;
  background: #fbfbfb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.entete {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.entete .heart {
  font-size: 1.4rem;
  margin-top: -6px;
}
.entete .heart .fa-stack-1x {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 500ms linear;
  background: linear-gradient(to bottom, #e872da, #a55bdb);
  cursor: pointer;
  -webkit-background-clip: text;
  color: transparent;
}
.entete .heart .fa-stack-2x {
  font-size: 1.4rem;
  -webkit-text-stroke: 1px white;
  margin-top: 11.5px;
}
.entete .heart:hover .fa-stack-1x {
  visibility: visible;
  opacity: 1;
}

/*cartes plats pages menu*/
.courses section {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.course-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 90%;
  height: 68px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
  margin: 10px auto;
  overflow: hidden;
}
.course-card:hover .right-section {
  margin-right: 0;
}
.course-card:hover .right-section i {
  transform: rotate(360deg);
}
.course-card:hover .left-section {
  width: 80%;
}

.left-section {
  width: 100%;
  padding: 10px;
}
.left-section h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-section .course-description {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-section .course-description p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-section p {
  font-weight: 300;
}
.left-section .price {
  padding: 0px 10px;
  font-weight: bold;
  color: #424242;
}

.right-section {
  font-size: 1.5rem;
  color: white;
  background-color: #99E2D0;
  text-align: center;
  padding-top: 20px;
  width: 80px;
  margin-right: -80px;
  transition: all 0.4s;
}
.right-section i {
  transition: all 0.4s;
}

.bouton-commander {
  text-align: center;
  margin-top: 40px;
}

@media all and (min-width: 950px) {
  .courses {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  .course-card:hover .left-section {
    width: 70%;
  }

  ul li {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
