.menu-restaurant{
    margin-top: -20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:white;
    padding-top: 25px;

    h5 {
        font-weight: bold;
    }
    
    ul{
        li:nth-child(1)
        {
            animation: fadein 1.8s;
            -moz-animation: fadein 1.8s; /* Firefox */
            -webkit-animation: fadein 1.8s; /* Safari et Chrome */
            -o-animation: fadein 1.8s; /* Opera */
        }
        li:nth-child(2)
        {
            animation: fadein 2.2s;
            -moz-animation: fadein 2.2s; /* Firefox */
            -webkit-animation: fadein 2.2s; /* Safari et Chrome */
            -o-animation: fadein 2.2s; /* Opera */
        }
        li:nth-child(3)
        {
            animation: fadein 2.6s;
            -moz-animation: fadein 2.6s; /* Firefox */
            -webkit-animation: fadein 2.6s; /* Safari et Chrome */
            -o-animation: fadein 2.6s; /* Opera */
        }
        li:nth-child(4)
        {
            animation: fadein 3s;
            -moz-animation: fadein 3s; /* Firefox */
            -webkit-animation: fadein 3s; /* Safari et Chrome */
            -o-animation: fadein 3s; /* Opera */
        }
    }

    li {
        .left-section{
            display: flex;
            flex-direction: column;
        }
    }
        
}

.entete {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 25px 20px;

    .heart{
        margin-top: -6px;
    }
}
/*cartes plats pages menu*/

.course-card {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 30px;
        width: 90%;
        height: 68px;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);  
        margin: 10px auto;  
        overflow: hidden;
         
        &:hover .right-section {
            margin-right: 0;

            i{
            transform: rotate(360deg);
            }
        }

        &:hover .left-section {
            width: 70%;     
        }

        &:hover .price {
            margin-right: -24px;
        }
    }

.left-section{
    width: 100%;
    padding: 10px;

    & h4{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .course-description {
        padding-top: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        & p:first-child { 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    p{
        font-weight: 300;
    }

    .price{
        padding: 0px 10px;
        font-weight: bold;
        color: $price-color;
    }
}

.right-section {
    font-size: 1.5rem;
    color: white;
    background-color: $tertiary-color;
    text-align: center;
    padding-top: 20px;
    width: 80px;
    margin-right: -80px;
    transition: all 0.4s;

    i{
        transition: all 0.4s;
    }
}

.bouton-commander{
    text-align: center;
    margin-top: 40px;
}

@media all and (min-width : 950px){

    .courses{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 20px;
    }

    .course-card{
        &:hover .price{
            margin-right: -10px;
        }
    }

    ul{
        li{
        width: 320px;
        }
    }
}