.btnstyle{
    border-radius: 100px;
    background: $button-color;
    color: white;
    padding: 15px 25px;
    border-style: hidden;
    cursor: pointer;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
    position: relative;
    z-index: 1;

    &:hover{
        box-shadow: -6px 6px 6px 0px rgba(0, 0, 0, 0.247);
        & .btn-hover{
            opacity: 1;
        }
    }

    .btn-hover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lightened-button-color;
        border-radius: 100px;
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms;
    }
}

.btnstyle-order{
    border-radius: 100px;
    background: $button-color;
    color: white;
    padding: 15px 50px;
    border-style: hidden;
    cursor: pointer;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
    position: relative;
    z-index: 1;

        &:hover{
            box-shadow: -6px 6px 6px 0px rgba(0, 0, 0, 0.247);
            & .btn-hover{
                opacity: 1;
            }
        }

        .btn-hover{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $lightened-button-color;
            border-radius: 100px;
            opacity: 0;
            z-index: -1;
            transition: opacity 200ms;
        }
}