.btnstyle{
    border-radius: 100px;
    background: $button-color;
    color: white;
    padding: 15px 25px;
    border-style: hidden;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
}

.btnstyle-order{
    border-radius: 100px;
    background: $button-color;
    color: white;
    padding: 15px 50px;
    border-style: hidden;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
}