.heart{

    font-size: 1.4rem;

    .fa-stack-1x{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 500ms linear;
        background: $heart-color;
        background-clip: border-box;
        cursor: pointer;
        -webkit-background-clip: text;
        color: transparent;
        
    }

    .fa-stack-2x{
        font-size: 1.4rem;
        -webkit-text-stroke: 1px white;
        margin-top: 11.5px;
    }

    &:hover .fa-stack-1x{
            visibility: visible;
            opacity: 1;

    }
}