$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$footer-color: #353535;
$light-bg-color: #f6f6f6;
$location-bg-color: #eaeaea;
$price-color: #424242;

$lightened-primary: lighten($primary-color, 5%);
$lightened-secondary: lighten($secondary-color, 5%);

$button-color: linear-gradient(to bottom, $secondary-color ,$primary-color);
$lightened-button-color:linear-gradient(to bottom, $lightened-secondary, $lightened-primary);
$heart-color : linear-gradient(to top, $secondary-color ,$primary-color);